
body, html {
    height: 100%;
  }
  

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../Austin.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text > h1 {
    font-size: 3.5rem;
}

.home-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.home-cards .card {
    box-shadow: 1px 1px 1px gray;
    margin: 10px;
    transition: 1s;
    background-color: #66a2fe;
  }

.home-cards .card .card-body {
  font-size: 50px;
  color: black;
}

a.card-body {
  text-decoration: none;
  text-align: center;
}

.home-cards .card:hover {
    background-color: #d1e3ff;
}

.icons {
  display: flex;
  align-self: center;
  margin: 10px auto; 
  width: 25%;
  font-size: 45px;
  justify-content: space-evenly;
}

.icons a {
  color: white !important;
}



@media only screen and (max-width: 700px) {
   .home-cards {
       flex-direction: column;
       align-items: center;
       grid-template-columns: 1fr;
   } 
   .home-cards .card {
   }

   .hero-image {
     height: 60vh;
   }

   .icons {
     width: 50%;
   }
}